
.body-item-post{
    width: 100%;
    display: flex;
}
.summary-post{
    align-items: center;
    display: flex;
    width: 100%;
}

.list-post{
    padding: 20px;
    width: 100%;
}

.tittle-post{
    font-weight: 500;
    color: #FA6800;
}
.list-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 120px;
}
.item-post{
    margin-bottom: 100px;
    flex-basis: calc(50% - 8px);
    max-height: 754px;
}
.container
{
    padding-top: 50px;
    text-align: center;
}
.container h4{
    color: #858DBA;
    font-size: 40px;
    padding-bottom: 109px;
}
.new-image img{
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    display: flex;
}

.new-detail{
    min-height: 210px;
    padding: 30px 29px;
    box-shadow: 0px 3px 6px rgb(168 168 168 / 21%)
}

html{
    border: 13px solid #6B47A0
}