.tittle{
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px #1ba1e2 solid;
    font-weight: 500;
}

.page-content{
    margin-top: 50px;
    background-color: white;
}
body{
    background-color: #f0f1f5;
}

html{
    border: 13px solid #6B47A0
}