<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/footer.css">
</head>

<body>
    <div class="footer">
        <div class="container-custom">
            <div class="copyright">Copyright © 2020-2021 HIBC-Hanoi International Beauty Center. All rights reserved.
            </div>
            <ul>
                <li><a>Hotline 086 6900 800</a></li>
                <li><a>Facebook</a></li>
                <li><a>Instagram</a></li>
                <li><a>Map</a></li>
            </ul>
        </div>

    </div>

</body>

</html>