<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<link rel="stylesheet" href="/header.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <div class="header">
        <div class="logo">
            <img src="/logo.svg" alt="">
        </div>
        <ul class="language">
            <li class="language-item"><h5>TIẾNG VIỆT</h5></li>
            <li class="language-item"><h5>TIẾNG ANH</h5></li>
        </ul>

        <ul class="categorie">
            <li>THẨM MỸ THUẬT</li>
            <li>BITTOX-FILLER NGĂN CHẶN THUẬT NGỮ</li>
            <li>SMALL DISABLE</li>
            <li>THUẬT NGỮ VÀ CÁC BỆNH LÝ</li>
            <li>GIỚI THIỆU BÁC SĨ HIBC</li>
            <li>TIN TỨC</li>
            <li>LIÊN HỆ</li>
        </ul>
    </div>
</body>

</html>